<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="__layout :: headerFragment">
</head>
<body>

<div th:if="${message} != null">
    <div th:replace="__layout :: alert(type=${type}, message=${message})"></div>
</div>

<div id="wrapper">
    <!-- Navigation -->
    <nav th:replace="__layout :: navFragment">
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Orders </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Orders
                    </div>
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Item name
                                    </th>
                                    <th>
                                        User name
                                    </th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="borrow,iterator  : ${borrows}">
                                    <td th:text="${iterator.count}">0</td>
                                    <td th:text="${borrow.id}">001</td>
                                    <td th:text="${borrow.item.itemName}">itemName</td>
                                    <td th:text="${borrow.user.firstName + ' ' + borrow.user.lastName}">user name</td>
                                    <td><!--<a th:href="@{/items/del/{id}(id=${itm.id})}"><span class="fa fa-trash"></span></a>--></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Borrow
                    </div>
                    <div class="panel-body">
                        <form action="#" th:action="@{/borrows}" th:object="${borrowSeed}" method="post" class="form" id="borrowForm">
                            <ul>
                                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">err</li>
                            </ul>

                            <div class="form-group">
                                <label for="itemId">Item: </label>
                                <select class="form-control" th:field="*{item}" id="itemId" required>
                                        <option th:each="itm : ${avaliableItems}" th:value="${itm.id}" th:text="${itm.itemName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="userId">User: </label>
                                <select class="form-control" th:field="*{user}" id="userId" required>
                                        <option th:each="usr : ${users}" th:value="${usr.id}" th:text="${usr.firstName + ' ' + usr.lastName}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <input class="btn btn-default" type="submit" value="Borrow"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <div th:replace="__layout :: footerScriptsFragment">
    </div>
</div>
</body>

</html>