<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="__layout :: headerFragment">
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav th:replace="__layout :: navFragment">
    </nav>

    <div id="page-wrapper">
        <p th:text="${hello}"></p>
        <p th:text="${users}"></p>
        <table>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    RETARDED ID
                </th>
                <th>
                    FIRST NAME
                </th>
                <th>
                    LAST NAME
                </th>
            </tr>
            <!--/*@thymesVar id="users" type="List<cvut.fit.library.domain.entity.User>"*/-->
            <tr th:each="usr  : ${users}">
                <!--/*@thymesVar id="usr" type="cvut.fit.library.domain.entity.User"*/-->
                <td th:text="${usr}">001</td>
                <td th:text="${usr.firstName}">Name</td>
                <td th:text="${usr.lastName}">City</td>

            </tr>
        </table>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<div th:replace="__layout :: footerScriptsFragment">
</div>

</body>

</html>