<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="__layout :: headerFragment">
</head>
<body>
<div id="wrapper">
    <!-- Navigation -->
    <nav th:replace="__layout :: navFragment">
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Users </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        DataTables Advanced Tables
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        REAL DB ID
                                    </th>
                                    <th>
                                        FIRST NAME
                                    </th>
                                    <th>
                                        LAST NAME
                                    </th>
                                    <th>
                                        ROLE
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="usr,iterator  : ${users}">
                                    <td th:text="${iterator.count}">0</td>
                                    <td th:text="${usr.id}">001</td>
                                    <td th:text="${usr.firstName}">Name</td>
                                    <td th:text="${usr.lastName}">City</td>
                                    <td th:text="${usr.role}">role</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <!-- /#page-wrapper -->
            </div>
        </div>
        <!-- /#wrapper -->
        <div th:replace="__layout :: footerScriptsFragment">
        </div>
    </div>
</body>

</html>